
# BEGIN ShortPixelWebp

# END ShortPixelWebp
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Chalets_et_caviar/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Chalets_et_caviar/index.php [L]
</IfModule>

# END WordPress